@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}


/*MENU DE NAVEGACION*/

.nav-menu {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
 
}

.logo img {
  width: 5rem;
}

.nav-links  {
  display: flex;
  align-items: center;
 
}

.nav-links  li {
 margin: 0 30px;
  padding: 0px;
}

.nav-links  a {
  padding: 10px;
  color: #000000;
  text-decoration: none;
  filter: brightness(100%);
  letter-spacing: 2px;

}


.nav-links  li:hover {
  background: #fff;
}

.nav-links li:hover a {
  color: rgb(0, 0, 0);
}


/*CONTENIDO DEL HEADER*/

header {
    margin-top: 170px;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../img/floral2.jpg); 
    background-position: bottom;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo  h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  padding: 10px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  word-spacing: 0.25em;
}




/*MENÚ DE NAVEGACIÓN*/

  
/* ESCRIBENOS */
/*
nav ul li:nth-child(5) {
  position:absolute;
  margin-left: 900px;
  margin-top: -10px;
  font-size: 16px;
  border-radius: 14px;
  padding: 5px;
  background-color: #474f59;
  
}

nav ul li:nth-child(5) a {
  display: block;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 1px;
}


.logo {
    height: 250px;
}
.logo img {
  position: relative;
  margin-bottom: 500px;
  margin-right: 1100px;
  height: 250px;
  
}
*/

/*MAIN*/


.filter {
  margin-left: 5% ;
  margin-top: 50px;
}

.lista_decoraciones{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
     
}
  
.lista_decoraciones .contenido-seccion {
  width: 90%;
  margin: 20px;
  overflow: hidden;
  background-color: #fff;
  cursor: default;
  border: 1px black solid;
  transition: all 400ms ease;
}

.lista_decoraciones .contenido-seccion:hover {
  box-shadow: 5px 5px 20px;
  transform: translateY(-3%);
}


.lista_decoraciones .contenido-seccion img {
  width: 100%;

}

.contenido-seccion .contenido {
  text-align: center;
  padding: 15px;
}

.contenido p {
    padding: 10px;
    letter-spacing: 1px;
}

.contenido a {
    padding: 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    border: 1px black solid;
}


/*FOOTER*/

.fa-instagram {  
  background: #000000;  
  color: white;  
}  

.fa-facebook {  
  color: white;  
}  

.fa-twitter {  
  background: #000000;  
  color: white;  
}  


.pie {
  background-color: black;
  color:#fff;
  display:flex;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
 
}

.pie ul {
  padding: 15px;
  display: flex;
  flex-direction: column;
  
}

.pie h1 {
  letter-spacing: 6px;
}

.pie #redes ul{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}


.pie #redes li{
 font-size: 30px;
}

.pie li {
  list-style: none;
  line-height : 25px;
}

.pie a , .pie li{
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
 }

.pie p {
  letter-spacing: 2px;
}


/*PAGINACION*/

#paginacion {
  width: 100%;
}

#paginacion ul {
padding: 50px;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


/**MEDIA QUERIES*/

.checkbtn{
  color: #474f59;
  top: 50px;
  right: 30px;
  font-size: 50px;
  position: absolute;
  cursor:pointer;
  display: none;
 
}

@media(min-width: 320px) and (max-width: 425px) {

  /*TAMAÑO FUENTE Y LOGO*/
  .logo img {
    width: calc(1vw + 5rem);
  }

  .titulo h1 {
    font-size: calc(1vw + 1.5rem);
  }
  

  /*NAVEGACION*/

  .nav-menu {
    padding: 0;
  }
    .checkbtn{
      display: block;
    }

    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 1;
    }

    .nav-links {
      position:absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, .95);
      left: -100%;
      transition: all .10s;
      justify-content: center;
    
    }

    
    .nav-links li {
      margin: 10px 0;
      line-height: 30px;
    }
  
    .nav-menu a{
      font-size: 20px;
    }
    
    .nav-links.show {
      left:0;
    }

 


  /*LISTA DE DECORACIONES*/

  .lista_decoraciones{
    grid-template-columns: 1fr;
     
}
/*PIE*/

.pie {
 display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-evenly;
}

.pie #redes { /*El contenedor de redes pasa a primer lugar*/
  order: -1;
}


 }


@media(min-width: 426px) and (max-width: 800px){
  
  .nav-menu {
    padding: 0;
  }
    .checkbtn{
      display: block;
    }

    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 1;
    }

    .nav-links {
      position:absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, .95);
      left: -100%;
      transition: all .10s;
      justify-content: center;
    
    }

    
    .nav-links li {
      margin: 10px 0;
      line-height: 30px;
    }
  
    .nav-menu a{
      font-size: 20px;
    }
    
    .nav-links.show {
      left:0;
    }
  

  

    .lista_decoraciones{
      display: grid;
      padding: 10px;
      grid-template-columns: 1fr 1fr;
       
  }

  .lista_decoraciones .contenido-seccion {
    width: 95%;
   
  }

  .titulo h1 {
    font-size: calc(1vw + 1.5rem);
  }
}
/*

@media(min-width: 1024px) and (max-width: 1440px){
  
  .logo img {
    width: 7rem;
  }
  
  
  .nav-links  li {
    margin: 0 30px;
    padding: 0px;
  }
  
  .nav-links  a {
    font-size: 1.75vmin;
    padding: 5px;
    color: #000000;
    text-decoration: none;
    filter: brightness(100%);
    letter-spacing: 2px;
  
  }
  
  
  .nav-links  li:hover {
    background: #fff;
  }
  
  .nav-links li:hover a {
    color: rgb(0, 0, 0);
  }
  

  

    .lista_decoraciones{
      display: grid;
      padding: 10px;
      grid-template-columns: 1fr 1fr 1fr;
       
  }

  .lista_decoraciones .contenido-seccion {
    width: 95%;
   
  }

  .titulo h1 {
    font-size: calc(1vw + 1.5rem);
  }
}
*/
@media(min-width: 2056px){
  
  .logo img {
    width: 12rem;
  }

  header {
    margin-top: 300px;
  
}

  .nav-links  li {
    margin: 0 30px;
    padding: 10px;
  }
  
  .nav-links  a {
    font-size: 3vmin;
    padding: 10px;
  
  }
  
  
  

    .lista_decoraciones{
      display: grid;
      padding: 10px;
      grid-template-columns: 1fr 1fr 1fr;
       
  }

  .lista_decoraciones .contenido-seccion {
    width: 95%;
   
  }

  .pie {
    justify-content: space-evenly;
  }
}