@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;


}

html,
body {
  width: 100%;
  overflow-x: hidden;

}


.header-contenido a {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  border: 1px rgb(255, 255, 255) solid;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../img/fondo_header.jpg);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;


}

.header-contenido {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
}

.header-contenido p {
  font-size: 3vmin;
  padding: 20px;
  line-height: 30px;
  color: #fff;
  letter-spacing: 1px;
}

.header-contenido h1 {
  font-size: 5vmin;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 0.25em;
  padding: 10px;
}


/* MENÚ DE NAVEGACIÓN*/

ul {
  list-style: none;
}

.nav-menu {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  justify-content: space-between;

}

.logo img {
  width: 20vmin;
}

.nav-links {
  display: flex;
  align-items: center;

}

.nav-links li {
  margin: 0 30px;
  padding: 5px;
}

.nav-links a {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  filter: brightness(100%);
  letter-spacing: 2px;

}


.nav-links li:hover {
  background: #fff;
}

.nav-links li:hover a {
  color: rgb(0, 0, 0);
}

.checkbtn {
  color: white;
  top: 50px;
  right: 30px;
  font-size: 50px;
  position: absolute;
  cursor: pointer;
  display: none;

}









/* ESCRIBENOS */

nav ul li:nth-child(5) {

  font-size: 16px;
  border-radius: 14px;
  padding: 5px;
  background-color: rgb(255, 255, 255);

}

nav ul li:nth-child(5) a {

  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 1px;
}




/*CITA AUTOR*/

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #171c26 solid;
  width: 90%;
  margin: 5% auto;
  padding: 20px;
  font-style: italic;

}

blockquote p {
  text-align: center;
  width: 700px;
  height: 100px;
}

.frase p,
.frase footer {
  text-align: center;
  color: black;
  letter-spacing: 1px;
  line-height: 30px;
}


/*
Cuando la resolucion sea menor que 800px, 
el flex direction pasa a ser columna

*/





/*NUESTROS PRODUCTOS*/

main {
  margin-top: 100px;
}

h2 {
  font-size: 8vmin;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 1px;
  color: #a6986d;

}

.productos {
  display: flex;
  margin: auto;
  padding: 10px;

}

.caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  margin: 20px;

  background-color: #fff;
  cursor: default;
  border: 1px black solid;
  transition: all 400ms ease;

}


.productos .caja:hover {
  box-shadow: 5px 5px 20px;
  transform: translateY(-3%);
}

.productos .caja img {
  width: 100%;

}


.caja .contenido {
  text-align: center;
  padding: 15px;
}

.contenido p {
  padding: 10px;
  letter-spacing: 1px;
}

.contenido a {
  padding: 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  border: 1px black solid;
}




/*IMAGEN SCROLL*/

.imagen_scroll {
  margin-top: 100px;
  background-image: url(../img/tulipanRosa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;

}


/*BLOG*/

.contenedor-blogs {
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 100px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 90%;
  height: 400px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

.contenedor-blogs figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px;
  cursor: pointer;
}

.contenedor-blogs figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.swiper figure .texto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;

}

.swiper figure:hover>.texto {
  opacity: 1;
  visibility: visible;
}

.blogs figure:hover>.texto h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.blogs figure .texto h3 {
  color: #fff;
  font-weight: 400;
  transition: all 500ms ease-out;
  margin-top: 30px;
  margin-bottom: 120px;
}

.blogs figure .texto p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}


.contenedor-blogs .swiper-slide {
  /*script para el scroll de los blogs*/
  position: relative;
  text-align: center;
  font-size: 18px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;

}


/*FOOTER*/

.fa-instagram {
  background: #000000;
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  background: #000000;
  color: white;
}


.pie {
  background-color: black;
  color: #fff;
  display: flex;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.pie div {
  width: 30%;
}

.pie ul {
  padding: 15px;
  display: flex;
  flex-direction: column;

}

.pie h1 {
  letter-spacing: 6px;
}

.pie #redes ul {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.pie #redes li {
  font-size: 30px;
}

.pie li {
  list-style: none;
  line-height: 25px;
}

.pie a,
.pie li {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

.pie p {
  letter-spacing: 2px;
}




@media(min-width: 320px) and (max-width: 425px) {

  /*MENÚ DE NAVEGACIÓN*/
  .nav-menu {
    padding: 0;
  }

  .checkbtn {
    display: block;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .95);
    left: -100%;
    transition: all .10s;
    justify-content: center;

  }


  .nav-links li {
    margin: 10px 0;
    line-height: 30px;
  }

  .nav-menu a {
    font-size: 20px;
  }

  .nav-links.show {
    left: 0;
  }

  /*FRASE*/
  .frase {
    flex-direction: column;
    height: 490px;

  }

  .frase img {
    width: 90%;
  }

  .frase .contenido {
    height: 200px;
  }

  blockquote {
    width: 300px;
  }

  blockquote p {
    height: 200px;
    width: 300px;
    text-align: center;

  }




  /*PRODUCTOS*/
  .productos {
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;


  }

  .caja {
    width: 70%;
    height: 95%;

  }

  /*PIE DE PÁGINA*/
  .pie {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-evenly;
  }

  .pie #redes {
    /*El contenedor de redes pasa a primer lugar*/
    order: -1;
  }




}


@media(min-width: 426px) and (max-width: 800px) {

  /*MENÚ DE NAVEGACIÓN*/
  .nav-menu {
    padding: 0;
  }

  .checkbtn {
    display: block;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .95);
    left: -100%;
    transition: all .10s;
    justify-content: center;

  }


  .nav-links li {
    margin: 10px 0;
    line-height: 30px;
  }

  .nav-menu a {
    font-size: 20px;
  }

  .nav-links.show {
    left: 0;
  }

  /*FRASE*/

  .frase {
    flex-direction: column;
  }

  blockquote p {
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .frase .contenido {
    height: 170px;
  }

  /*PRODUCTOS*/
  .productos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin-top: 30px;
    margin: auto;
    padding: 10px;

  }

  .caja {
    display: flex;
    flex-direction: column;


  }

  /*PIE DE PÁGINA*/
  .pie {
    height: 550px;

  }

  .pie #redes {
    position: relative;
    margin-bottom: 300px;
    width: 300px;
  }

  .pie #contacto,
  .pie #informacion {
    position: relative;
    margin-top: 100px;
    width: 50%;
  }


}

@media only screen and (min-width: 1800px) {

  .header-contenido {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50%;
    margin-bottom: 5%;
  }

  .header-contenido p {
    font-size: 3vmin;
    padding: 20px;
    line-height: 80px;
    color: #fff;
    letter-spacing: 1px;
  }

  .header-contenido h1 {
    font-size: 5vmin;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 0.25em;
    padding: 10px;
  }

  .logo img {
    width: 20vmin;
  }

  .nav-links {
    display: flex;
    align-items: center;

  }

  .nav-links li {
    margin: 0 40px;
    padding: 5px;
  }

  .nav-links a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    filter: brightness(100%);
    letter-spacing: 2px;
    font-size: 3vmin;

  }


  blockquote p {
    text-align: center;
    width: 700px;
    height: 100px;
    margin-bottom: 30px;
  }

  .frase p,
  .frase footer {
    font-size: 30px;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    line-height: 40px;
  }

  .productos {
    margin-top: 9000px;


  }




  .imagen_scroll {
    margin-top: 700px;
    background-image: url(../img/tulipanRosa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 5em;

  }

}


/*
@media (max-width: 1199px) {
  .productos {
    display: grid;
    height: 100%;
    width: 400px;
    margin-top: 30px;
    padding: 10px;
    
  }

 
}

*/