.paginacion {
    width: 100%;
    display: flex;

    #pagination {
        padding: 50px;
        display: inline-block;
        margin: auto;

        li {
            display: inline;

            a {
                color: $negro;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }
        }
    }
}