.nav-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
   

    @include menu-nav-tablet(nav-menu) {
        padding: 0;
    }

    @include ordenador-4k(ordenador-4k) {
        width: 80%;
    }

    .logo {
        width: 100px;

        @include menu-nav-tablet(nav-menu) {
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 1;
            width: 100px;
        }

        @include ordenador-4k(ordenador-4k) {
            margin-left: 500px;
        }

        img {
            width: 100%;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;

        @include menu-nav-tablet(nav-menu) {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 110vh;
            background: $negro;
            left: -100%;
            transition: all .10s;

            &.show {
                left: 0;
            }
        }

        li {
            margin: 0 30px;
            padding: 5px;

            @include menu-nav-tablet(nav-menu) {
                margin: 10px 0;
                line-height: 30px;
            }

            a {
                padding: 20px;
                color: $blanco;
                letter-spacing: 1px;
            }

            &:hover {
                background-color: $blanco;
                border-radius: 6px;
                a {
                    color: $negro;
                    font-weight: bold;
                }
            }

            &:nth-child(5) {
                background-color: $blanco;
                border-radius: 6px;
                padding: 10px;

                a {
                    color: $negro;
                }

                &:hover {
                    transform: scale(1.15);
                }

            }
        }
    }

    .checkbtn {
        color: $blanco;
        top: 50px;
        right: 30px;
        font-size: 50px;
        position: absolute;
        cursor: pointer;
        display: none;

        @include menu-nav-tablet(nav-menu) {
            display: block;
        }

    }
}